################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/addressbook-web-tests/.vs/addressbook-web-tests/v15/Server/sqlite3
/addressbook-web-tests/ConsoleApp1
/addressbook-web-tests/packages
/addressbook_tests_autoit/.vs/addressbook_tests_autoit/v15/Server/sqlite3/db.lock
/mantis_tests/.vs/mantis_tests/v15/Server/sqlite3/db.lock
